td{
    width:150px;
    height:150px;

}

div{
    display: inline-block;
    float: left;
}

svg {
    position: absolute;
    pointer-events: none;
}

line, path {
    display: none;
    animation: draw 2s 1 forwards;
    stroke-width: 4;
}

path#cats-drawtime3{
    display: inline;
    stroke-dasharray: 599;
    stroke-dashoffset: 599;
}

line#diagonal-drawtime3 {
    display: inline;
    stroke-dasharray: 685;
    stroke-dashoffset: 685;
}

line#horizontal-or-vertical-drawtime3{
    display: inline;
    stroke-dasharray: 484;
    stroke-dashoffset: 484;   
}

path#cats-drawtime4{
    display: inline;
    stroke-dasharray: 746;
    stroke-dashoffset: 746;
}

line#diagonal-drawtime4 {
    display: inline;
    stroke-dasharray: 853;
    stroke-dashoffset: 853;
}

line#horizontal-or-vertical-drawtime4 {
    display: inline;
    stroke-dasharray: 605;
    stroke-dashoffset: 605;   
}

@keyframes draw{
  to {
    stroke-dashoffset: 0;
  }
}

.left-border {
    border-left:2px solid black;
}

.top-border td{
    border-top:2px solid black;
}

.board{
    margin: 30px 50px 0 30px;
}

#information{
    margin-top: 40px;
}

#x-id{
    margin-top: 60px;
}

.open:hover{
    cursor: pointer;
}

.taken:hover{
    cursor: not-allowed;
}

.x, .o{
    background-repeat: no-repeat;
    background-position: center;
}

.o{
    background-image: url("images/o.png");
}

.x{
    background-image: url("images/x.png")
}
